In [4]:
import pandas as pd

In [5]:
# pd.set_option('display.max_rows', None)
# pd.set_option('display.max_columns', None)
# pd.set_option('display.max_colwidth', None)

In [17]:
events_path = '/Users/Zechariah/Documents/codeRepo/deCohort/project3/extended_list.csv'
eventsMentions_path = '/Users/Zechariah/Documents/codeRepo/deCohort/project3/eventsMentions.xlsx'

In [20]:
df_events = pd.read_csv(events_path)
df_mentions = pd.read_excel(eventsMentions_path)

# Events Exploration

In [31]:
pd.set_option('display.max_columns', None)
df_events.head()

,GLOBALEVENTID,SQLDATE,MonthYear,Year,FractionDate,Actor1Code,Actor1Name,Actor1CountryCode,Actor1KnownGroupCode,Actor1EthnicCode,Actor1Religion1Code,Actor1Religion2Code,Actor1Type1Code,Actor2Code,Actor2Name,Actor2CountryCode,Actor2KnownGroupCode,Actor2EthnicCode,Actor2Religion1Code,Actor2Religion2Code,Actor2Type1Code,IsRootEvent,EventCode,EventBaseCode,EventRootCode,QuadClass,GoldsteinScale,NumMentions,NumSources,NumArticles,AvgTone,Actor1Geo_Type,Actor1Geo_FullName,Actor1Geo_CountryCode,Actor1Geo_ADM1Code,Actor1Geo_ADM2Code,Actor1Geo_Lat,Actor1Geo_Long,Actor1Geo_FeatureID,Actor2Geo_Type,Actor2Geo_FullName,Actor2Geo_CountryCode,Actor2Geo_ADM1Code,Actor2Geo_ADM2Code,Actor2Geo_Lat,Actor2Geo_Long,Actor2Geo_FeatureID,ActionGeo_Type,ActionGeo_FullName,ActionGeo_CountryCode,ActionGeo_ADM1Code,ActionGeo_ADM2Code,ActionGeo_Lat,ActionGeo_Long,ActionGeo_FeatureID,DATEADDED,SOURCEURL
0,431084813,20150506,201505,2015,2015.3452,MLTGOVELI,LAWRENCE GONZI,MLT,NaN,NaN,NaN,NaN,GOV,MLTGOV,GIOVANNA DEBONO,MLT,NaN,NaN,NaN,NaN,GOV,1,30,30,3,1,4.0,5,1,5,-1.081081,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20150506103000,http://www.timesofmalta.com/articles/view/2015...
1,444802691,20150629,201506,2015,2015.4904,INDGOVENV,JAIRAM RAMESH,IND,NaN,NaN,NaN,NaN,GOV,LEG,CONGRESS,NaN,NaN,NaN,NaN,NaN,LEG,1,40,40,4,1,1.0,5,1,5,-3.960396,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20150629211500,http://indianexpress.com/article/india/politic...
2,415903079,20150310,201503,2015,2015.1918,MDV,MALE,MDV,NaN,NaN,NaN,NaN,NaN,MOS,ISLAMIC,NaN,NaN,NaN,MOS,NaN,NaN,1,90,90,9,2,-2.0,10,1,10,2.392344,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20150310184500,http://www.alnilin.com/12654567.htm
3,477542595,20151019,201510,2015,2015.7918,JUD,JUDGE,NaN,NaN,NaN,NaN,NaN,JUD,ELI,RETIRED,NaN,NaN,NaN,NaN,NaN,ELI,1,10,10,1,1,0.0,10,1,10,-8.730159,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20151019194500,http://www.northwalespioneer.co.uk/news/153892...
4,441597924,20150617,201506,2015,2015.4575,MDV,MALE,MDV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,180,180,18,4,-9.0,10,1,10,-7.526882,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20150617060000,http://www.svt.se/nyheter/regionalt/sormland/f...

In [32]:
df_events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2706 entries, 0 to 2705
Data columns (total 57 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   GLOBALEVENTID          2706 non-null   int64
 1   SQLDATE                2706 non-null   int64
 2   MonthYear              2706 non-null   int64
 3   Year                   2706 non-null   int64
 4   FractionDate           2706 non-null   float64
 5   Actor1Code             2468 non-null   object
 6   Actor1Name             2468 non-null   object
 7   Actor1CountryCode      1485 non-null   object
 8   Actor1KnownGroupCode   46 non-null     object
 9   Actor1EthnicCode       35 non-null     object
 10  Actor1Religion1Code    48 non-null     object
 11  Actor1Religion2Code    9 non-null      object
 12  Actor1Type1Code        1258 non-null   object
 13  Actor2Code             1981 non-null   object
 14  Actor2Name             1981 non-null   object
 15  Actor2CountryCode      1140 non-null   object
 16  Actor2KnownGroupCode   39 non-null     object
 17  Actor2EthnicCode       31 non-null     object
 18  Actor2Religion1Code    40 non-null     object
 19  Actor2Religion2Code    4 non-null      object
 20  Actor2Type1Code        1017 non-null   object
 21  IsRootEvent            2706 non-null   int64
 22  EventCode              2706 non-null   int64
 23  EventBaseCode          2706 non-null   int64
 24  EventRootCode          2706 non-null   int64
 25  QuadClass              2706 non-null   int64
 26  GoldsteinScale         2706 non-null   float64
 27  NumMentions            2706 non-null   int64
 28  NumSources             2706 non-null   int64
 29  NumArticles            2706 non-null   int64
 30  AvgTone                2706 non-null   float64
 31  Actor1Geo_Type         2706 non-null   int64
 32  Actor1Geo_FullName     1986 non-null   object
 33  Actor1Geo_CountryCode  1988 non-null   object
 34  Actor1Geo_ADM1Code     1988 non-null   object
 35  Actor1Geo_ADM2Code     1353 non-null   object
 36  Actor1Geo_Lat          1986 non-null   float64
 37  Actor1Geo_Long         1986 non-null   float64
 38  Actor1Geo_FeatureID    1988 non-null   object
 39  Actor2Geo_Type         2706 non-null   int64
 40  Actor2Geo_FullName     1621 non-null   object
 41  Actor2Geo_CountryCode  1623 non-null   object
 42  Actor2Geo_ADM1Code     1623 non-null   object
 43  Actor2Geo_ADM2Code     1031 non-null   object
 44  Actor2Geo_Lat          1621 non-null   float64
 45  Actor2Geo_Long         1621 non-null   float64
 46  Actor2Geo_FeatureID    1623 non-null   object
 47  ActionGeo_Type         2706 non-null   int64
 48  ActionGeo_FullName     2166 non-null   object
 49  ActionGeo_CountryCode  2168 non-null   object
 50  ActionGeo_ADM1Code     2168 non-null   object
 51  ActionGeo_ADM2Code     1392 non-null   object
 52  ActionGeo_Lat          2166 non-null   float64
 53  ActionGeo_Long         2166 non-null   float64
 54  ActionGeo_FeatureID    2168 non-null   object
 55  DATEADDED              2706 non-null   int64
 56  SOURCEURL              2706 non-null   object
dtypes: float64(9), int64(16), object(32)
memory usage: 1.2+ MB

In [23]:
df_events = df_events[['GLOBALEVENTID', 'SQLDATE', 'MonthYear', 'Year',
       'FractionDate', 'Actor1Code', 'Actor1Name', 'Actor1CountryCode',
       'Actor1KnownGroupCode', 'Actor1EthnicCode', 'Actor1Religion1Code',
       'Actor1Religion2Code', 'Actor1Type1Code', 'Actor2Code', 'Actor2Name', 'Actor2CountryCode',
       'Actor2KnownGroupCode', 'Actor2EthnicCode', 'Actor2Religion1Code',
       'Actor2Religion2Code', 'Actor2Type1Code', 'IsRootEvent', 'EventCode', 'EventBaseCode',
       'EventRootCode', 'QuadClass', 'GoldsteinScale', 'NumMentions',
       'NumSources', 'NumArticles', 'AvgTone', 'Actor1Geo_Type',
       'Actor1Geo_FullName', 'Actor1Geo_CountryCode', 'Actor1Geo_ADM1Code',
       'Actor1Geo_ADM2Code', 'Actor1Geo_Lat', 'Actor1Geo_Long',
       'Actor1Geo_FeatureID', 'Actor2Geo_Type', 'Actor2Geo_FullName',
       'Actor2Geo_CountryCode', 'Actor2Geo_ADM1Code', 'Actor2Geo_ADM2Code',
       'Actor2Geo_Lat', 'Actor2Geo_Long', 'Actor2Geo_FeatureID',
       'ActionGeo_Type', 'ActionGeo_FullName', 'ActionGeo_CountryCode',
       'ActionGeo_ADM1Code', 'ActionGeo_ADM2Code', 'ActionGeo_Lat',
       'ActionGeo_Long', 'ActionGeo_FeatureID', 'DATEADDED', 'SOURCEURL']]

In [25]:
df_actor = df_events[['GLOBALEVENTID', 'SQLDATE', 'MonthYear', 'Year',
       'FractionDate', 'Actor1Code', 'Actor1Name', 'Actor1CountryCode',
       'Actor1KnownGroupCode', 'Actor1EthnicCode', 'Actor1Religion1Code',
       'Actor1Religion2Code', 'Actor1Type1Code', 'Actor2Code', 'Actor2Name', 'Actor2CountryCode',
       'Actor2KnownGroupCode', 'Actor2EthnicCode', 'Actor2Religion1Code',
       'Actor2Religion2Code', 'Actor2Type1Code', 'Actor1Geo_Type',
       'Actor1Geo_FullName', 'Actor1Geo_CountryCode', 'Actor1Geo_ADM1Code',
       'Actor1Geo_ADM2Code', 'Actor1Geo_Lat', 'Actor1Geo_Long',
       'Actor1Geo_FeatureID', 'Actor2Geo_Type', 'Actor2Geo_FullName',
       'Actor2Geo_CountryCode', 'Actor2Geo_ADM1Code', 'Actor2Geo_ADM2Code',
       'Actor2Geo_Lat', 'Actor2Geo_Long', 'Actor2Geo_FeatureID','DATEADDED', 'SOURCEURL']]

In [26]:
df_event = df_events[['GLOBALEVENTID', 'SQLDATE', 'MonthYear', 'Year',
       'IsRootEvent', 'EventCode', 'EventBaseCode',
       'EventRootCode', 'QuadClass', 'GoldsteinScale', 'NumMentions',
       'NumSources', 'NumArticles', 'AvgTone','ActionGeo_Type', 
       'ActionGeo_FullName', 'ActionGeo_CountryCode',
       'ActionGeo_ADM1Code', 'ActionGeo_ADM2Code', 'ActionGeo_Lat',
       'ActionGeo_Long', 'ActionGeo_FeatureID', 'DATEADDED', 'SOURCEURL']]

In [27]:
df_event.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2706 entries, 0 to 2705
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   GLOBALEVENTID          2706 non-null   int64
 1   SQLDATE                2706 non-null   int64
 2   MonthYear              2706 non-null   int64
 3   Year                   2706 non-null   int64
 4   IsRootEvent            2706 non-null   int64
 5   EventCode              2706 non-null   int64
 6   EventBaseCode          2706 non-null   int64
 7   EventRootCode          2706 non-null   int64
 8   QuadClass              2706 non-null   int64
 9   GoldsteinScale         2706 non-null   float64
 10  NumMentions            2706 non-null   int64
 11  NumSources             2706 non-null   int64
 12  NumArticles            2706 non-null   int64
 13  AvgTone                2706 non-null   float64
 14  ActionGeo_Type         2706 non-null   int64
 15  ActionGeo_FullName     2166 non-null   object
 16  ActionGeo_CountryCode  2168 non-null   object
 17  ActionGeo_ADM1Code     2168 non-null   object
 18  ActionGeo_ADM2Code     1392 non-null   object
 19  ActionGeo_Lat          2166 non-null   float64
 20  ActionGeo_Long         2166 non-null   float64
 21  ActionGeo_FeatureID    2168 non-null   object
 22  DATEADDED              2706 non-null   int64
 23  SOURCEURL              2706 non-null   object
dtypes: float64(4), int64(14), object(6)
memory usage: 507.5+ KB

In [28]:
x = df_event.groupby('GoldsteinScale')

In [34]:
pd.set_option('display.max_columns', None)
x.get_group(1.0).head()

,GLOBALEVENTID,SQLDATE,MonthYear,Year,IsRootEvent,EventCode,EventBaseCode,EventRootCode,QuadClass,GoldsteinScale,NumMentions,NumSources,NumArticles,AvgTone,ActionGeo_Type,ActionGeo_FullName,ActionGeo_CountryCode,ActionGeo_ADM1Code,ActionGeo_ADM2Code,ActionGeo_Lat,ActionGeo_Long,ActionGeo_FeatureID,DATEADDED,SOURCEURL
1,444802691,20150629,201506,2015,1,40,40,4,1,1.0,5,1,5,-3.960396,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20150629211500,http://indianexpress.com/article/india/politic...
10,422149400,20150402,201504,2015,1,40,40,4,1,1.0,10,1,10,-0.292398,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20150402021500,http://www.senat.cz/dokumenty/notifikace/index...
14,451360974,20150722,201507,2015,1,40,40,4,1,1.0,30,1,10,0.725689,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20150722171500,http://www.business-standard.com/article/pti-s...
64,519389887,20160309,201603,2016,1,40,40,4,1,1.0,5,1,5,1.388889,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20160309134500,http://www.berwickshirenews.co.uk/news/local-n...
76,454209110,20150801,201508,2015,1,41,41,4,1,1.0,10,1,10,-5.072464,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20150801110000,http://www.milliyet.com.tr/gunes-isinlari-cep-...

In [35]:
df_events['Actor1Type1Code'].value_counts()

Actor1Type1Code
GOV    287
EDU    107
COP     99
LEG     98
BUS     89
JUD     89
CVL     88
MIL     74
IGO     48
MED     48
MNC     41
LAB     34
REB     29
CRM     25
UAF     18
HLH     17
OPP     14
ELI     14
NGO     11
AGR      8
REF      4
ENV      4
SEP      3
SET      3
INT      2
SPY      1
IMG      1
RAD      1
UIS      1
Name: count, dtype: int64

In [36]:
df_events['EventCode'].value_counts()

EventCode
10      202
51      193
42      188
43      174
20      158
       ...
1121      1
1822      1
171       1
1031      1
56        1
Name: count, Length: 123, dtype: int64

# Mentions Exploration

In [37]:
headers = df_mentions.iloc[0].values
df_mentions.columns = headers
df_mentions.drop(index=0, axis=0, inplace=True)

In [38]:
df_mentions.head()

,GLOBALEVENTID,EventTimeDate,MentionTimeDate,MentionType,MentionSourceName,MentionIdentifier,SentenceID,Actor1CharOffset,Actor2CharOffset,ActionCharOffset,InRawText,Confidence,MentionDocLen,MentionDocTone,MentionDocTranslationInfo,Extras
1,509185559,20160206084500,20160206084500,1,pchrgaza.org,http://pchrgaza.org/en/?p=4015,256,41121,41154,41136,1,20,55852,-6.271366,NaN,NaN
2,547841434,20160607004500,20160607033000,1,fax.al,http://fax.al/news/4090763/ja-si-u-pasqyrua-vi...,256,42414,42398,42356,0,20,59692,-3.210754,srclc:sqi;eng:GT-SQI 1.0,NaN
3,464838680,20150908124500,20150908230000,1,kdwn.com,http://kdwn.com/2015/09/08/the-latest-israel-b...,256,52784,52803,52793,0,40,127802,-5.921593,NaN,NaN
4,669272588,20170630071500,20170630093000,1,fax.al,http://fax.al/news/10607290/lr-pdsh-misioni-i-...,256,-1,34513,34480,1,100,38831,2.539572,srclc:sqi;eng:GT-SQI 1.0,NaN
5,677142787,20170730070000,20170730081500,1,fax.al,http://fax.al/news/11016507/pdk-se-i-kerkohet-...,256,61946,61804,61855,1,100,83352,0.429942,srclc:sqi;eng:GT-SQI 1.0,NaN

In [ ]:
df_mentions.info()

In [39]:
merge = pd.merge(df_events,df_mentions,on='GLOBALEVENTID',how='left')

## Why does data get lost after merge? (Datatype problem?)

In [43]:
merge.head()

,GLOBALEVENTID,SQLDATE,MonthYear,Year,FractionDate,Actor1Code,Actor1Name,Actor1CountryCode,Actor1KnownGroupCode,Actor1EthnicCode,Actor1Religion1Code,Actor1Religion2Code,Actor1Type1Code,Actor2Code,Actor2Name,Actor2CountryCode,Actor2KnownGroupCode,Actor2EthnicCode,Actor2Religion1Code,Actor2Religion2Code,Actor2Type1Code,IsRootEvent,EventCode,EventBaseCode,EventRootCode,QuadClass,GoldsteinScale,NumMentions,NumSources,NumArticles,AvgTone,Actor1Geo_Type,Actor1Geo_FullName,Actor1Geo_CountryCode,Actor1Geo_ADM1Code,Actor1Geo_ADM2Code,Actor1Geo_Lat,Actor1Geo_Long,Actor1Geo_FeatureID,Actor2Geo_Type,Actor2Geo_FullName,Actor2Geo_CountryCode,Actor2Geo_ADM1Code,Actor2Geo_ADM2Code,Actor2Geo_Lat,Actor2Geo_Long,Actor2Geo_FeatureID,ActionGeo_Type,ActionGeo_FullName,ActionGeo_CountryCode,ActionGeo_ADM1Code,ActionGeo_ADM2Code,ActionGeo_Lat,ActionGeo_Long,ActionGeo_FeatureID,DATEADDED,SOURCEURL,EventTimeDate,MentionTimeDate,MentionType,MentionSourceName,MentionIdentifier,SentenceID,Actor1CharOffset,Actor2CharOffset,ActionCharOffset,InRawText,Confidence,MentionDocLen,MentionDocTone,MentionDocTranslationInfo,Extras
0,431084813,20150506,201505,2015,2015.3452,MLTGOVELI,LAWRENCE GONZI,MLT,NaN,NaN,NaN,NaN,GOV,MLTGOV,GIOVANNA DEBONO,MLT,NaN,NaN,NaN,NaN,GOV,1,30,30,3,1,4.0,5,1,5,-1.081081,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20150506103000,http://www.timesofmalta.com/articles/view/2015...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,444802691,20150629,201506,2015,2015.4904,INDGOVENV,JAIRAM RAMESH,IND,NaN,NaN,NaN,NaN,GOV,LEG,CONGRESS,NaN,NaN,NaN,NaN,NaN,LEG,1,40,40,4,1,1.0,5,1,5,-3.960396,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20150629211500,http://indianexpress.com/article/india/politic...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,415903079,20150310,201503,2015,2015.1918,MDV,MALE,MDV,NaN,NaN,NaN,NaN,NaN,MOS,ISLAMIC,NaN,NaN,NaN,MOS,NaN,NaN,1,90,90,9,2,-2.0,10,1,10,2.392344,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20150310184500,http://www.alnilin.com/12654567.htm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,477542595,20151019,201510,2015,2015.7918,JUD,JUDGE,NaN,NaN,NaN,NaN,NaN,JUD,ELI,RETIRED,NaN,NaN,NaN,NaN,NaN,ELI,1,10,10,1,1,0.0,10,1,10,-8.730159,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20151019194500,http://www.northwalespioneer.co.uk/news/153892...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,441597924,20150617,201506,2015,2015.4575,MDV,MALE,MDV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,180,180,18,4,-9.0,10,1,10,-7.526882,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20150617060000,http://www.svt.se/nyheter/regionalt/sormland/f...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## What are we looking for below? Why column named 'Unnamed: 1'

In [48]:
df_mentions['Unnamed: 1'].value_counts()

KeyError: 'Unnamed: 1'